
@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}
@mixin ghostVerticalAlign{
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%; width: .1px;
  }
}
@mixin HorAndVerCentered($axis: "both"){
    position:absolute;
    @if $axis == "y"{
        top:50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    @if $axis == "x"{
        left:50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    @if $axis == "both"{
        top:50%;
        left:50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}
/*
Y axis : @include HorAndVerCentered(y);
X axis : @include HorAndVerCentered(x);
Both axis : @include HorAndVerCentered;
 */

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/*
.element p {
  @include vertical-align;
}
 */

@mixin font-size($font-size) {
    font-size: $font-size + px;
    font-size: ($font-size / 16) * 1 + rem;
}
@mixin line-height($heightValue: 12) {
    line-height: $heightValue + px; //fallback for old browsers
    line-height: ($heightValue / 16) * 1 + rem;
}
@mixin aspectRatio($widthAspect, $heightAspect) {
  $aspect: $heightAspect/$widthAspect * 100;
  max-width: 100%;
  &:before {
    content: '';
    display: block;
    width: 100%;
    padding-bottom: $aspect+%;
  }

}

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}

@mixin opacity($value: 0.9, $important:"") {
  opacity: $value unquote($important);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity= $value * 100 )" unquote($important);
  filter: alpha(opacity= $value * 100 ) unquote($important);
  zoom: 1 unquote($important);
}

/* Generate and display the image in responsive */
@mixin responsive-bg-image($image-width, $image-height) {
  background-size: 100%;
  padding-bottom: percentage($image-height / $image-width);
  height: 0;
  display: block;
}

@mixin full-adaptative-image-portrait($image,$position : "fixed"){
  @if $position == "fixed"{
    background: url($image) no-repeat center center fixed;
  }
  @if $position == "scroll"{
    background: url($image) no-repeat 0 0 scroll;
  }
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


@mixin full-adaptative-image-landscape($image){
  background: url($image) no-repeat 0 0;
}

/* Carousel in landscape mode only */
@mixin adaptative-carousel-landscape($image){
  overflow: hidden;
  background: url($image) no-repeat center center fixed;
  background-color: #000;
}
@mixin center-block {
position:absolute; top:0; bottom:0; left:0; right:0;
      margin:auto; width:100%;
}

@mixin aspect-ratio-img($image,$originalHeight,$originalWidth){
  background: url($image) no-repeat center center fixed;
  height : $originalHeight / $originalWidth * $containerSize;
}
@mixin responsive-carousel-landscape($image-width, $image-height) {
    background-size: 100%;
    padding: percentage($image-height / $image-width);
}
// Maintain ratio mixin. Great for responsive grids, or videos.
// https://gist.github.com/brianmcallister/2932463
//
// $ratio - Ratio the element needs to maintain.
//
// Examples
//
//   // A 16:9 ratio would look like this:
//   .element {
//     @include maintain-ratio(16 9);
//   }
@mixin maintain-ratio($ratio: 1 1) {
  @if length($ratio) < 2 or length($ratio) > 2 {
    @warn "$ratio must be a list with two values.";
  }

  $width: 100%;
  $height: percentage(nth($ratio, 2) / nth($ratio, 1));

  width: $width;
  height: 0;
  padding-bottom: ($height)-(3); // -3%
}

// Mediaqueries
/* Smartphones (Regular size) ----------- */
@mixin mobile($orientation:portrait){
  @media (min-width: #{$mobile-min}) and (max-width: #{$mobile-max}) and (orientation : #{$orientation}){
    @content;
  }
}
/* IPads or tablets (portrait and landscape) ----------- */
@mixin tablet($orientation:"portrait"){
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}) and (orientation : #{$orientation}){
    @content;
  }
}
@mixin tablet_all{
  @media (min-width: #{$tablet-min}) and (max-width: #{$tablet-max}){
    @content;
  }
}
/* Generic laptop - medium */
@mixin medium{
  @media (min-width: #{$laptop-min}) and (max-width: #{$laptop-max}) {
    @content;
  }
}
/* Desktop Large ----------- */
@mixin large{
  @media (min-width: #{$desktop-large-minwidth}) and (max-width: #{$desktop-large-maxwidth}) {
    @content;
  }
}
/* Desktop Xtra Large ----------- */
@mixin xtralarge{
  @media (min-width: #{$desktop-xtralarge-minwidth}) {
    @content;
  }
}
@mixin customquery($breakpoint:''){
  @media (max-width: #{$breakpoint}){
    @content;
  }
}

/*SVG background images with PNG and retina fallback */
@mixin background-image($name, $size:false){
    background-image: url(#{$image-path}/#{$name}.svg);
    @if($size){
        background-size: $size;
    }
    .no-svg &{
        background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

        @media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
          background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
        }
    }
}
/* Retina images */
@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    /* on retina, use image that's scaled by 2 */
    background-image: url($image);
    background-size: $width $height;
  }
}
/*
Usage:

div.logo {
   background: url("logo.png") no-repeat;
   @include image-2x("logo2x.png", 100px, 25px);
 }
 */
@mixin buttonNormal($bgColor,$txtColor,$radius,$padding,$border:false,$effect: false) {
  @if($border){
    border: $border solid mix(#666, $bgColor, 25%);
  }
  @if $effect == "inset" {
    box-shadow: #e6eec1 0 1px 0 inset;

  }
  //@include background(top, $bgColor 50%, mix(#fff,$bgColor,50%));
  @include background(linear-gradient(top, $bgColor 5%, mix(#fff,$bgColor,5%)));
  text-shadow: $bgColor 0 -1px 0;
  border-radius: $radius;
  padding: $padding;
  color: $txtColor;

  &:hover {
    cursor: pointer;
    @include background(linear-gradient(top, mix(#000,$bgColor,15%) 100%, mix(#fff,$bgColor,100%)));
    border-color: mix(#666, $bgColor, 40%);
  }
}
@mixin buttonGradient($bgColor,$txtColor,$radius,$padding,$border:false,$effect: false) {
  @if($border){
    border: $border solid mix(#666, $bgColor, 25%);
  }
  @if $effect == "inset" {
    box-shadow: #e6eec1 0 1px 0 inset;
  }
  @include background(linear-gradient(top, $bgColor 50%, mix(#fff,$bgColor,50%)));
  text-shadow: $bgColor 0 -1px 0;
  border-radius: $radius;
  padding: $padding;
  color: $txtColor;

  &:hover {
    cursor: pointer;
    background-color: mix(#666, $bgColor, 75%);
    border-color: mix(#666, $bgColor, 40%);
  }
}
/*
Ex:
.button {
   @include button(orange,5px,0.25rem,1px);
}

 */
/* Border Radius */
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

// Single side border-radius

@mixin border-top-radius($radius) {
  -webkit-border-top-right-radius: $radius;
  border-top-right-radius: $radius;
   -webkit-border-top-left-radius: $radius;
   border-top-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-right-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
     -webkit-border-top-right-radius: $radius;
     border-top-right-radius: $radius;
     background-clip: padding-box;
}
@mixin border-bottom-radius($radius) {
  -webkit-border-bottom-right-radius: $radius;
  border-bottom-right-radius: $radius;
   -webkit-border-bottom-left-radius: $radius;
   border-bottom-left-radius: $radius;
   background-clip: padding-box;
}
@mixin border-left-radius($radius) {
  -webkit-border-bottom-left-radius: $radius;
  border-bottom-left-radius: $radius;
     -webkit-border-top-left-radius: $radius;
     border-top-left-radius: $radius;
     background-clip: padding-box;
}
/*
Example:

.button {
  @include border-radius(5px);
}
.submit-button {
  @include border-top-radius(10px);
  @include border-right-radius(8px);
  @include border-bottom-radius(10px);
  @include border-left-radius (6px);
}
*/

/* Center-align a block level element */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/*
Usage:

.footer-wrap {
  width: 450px;
  @include center-block;
}
*/
/* Hide Text */
@mixin hide-text{
    overflow:hidden;
    text-indent:-9000px;
    display:block;
}
/*
Ex:
.logo{
    background: url("logo.png");
    height:100px;
    width:200px;
    @include hide-text;
}
 */
/* Circle */
@mixin circle($size) {
     width: $size;
     height: $size;
     border-radius: 50%;
}
/*Ex:
.box {
     @include circle(100px);
     background: #fc0;
}
*/
/* Link colors */
@mixin linkColor($color) {
     color: $color;
     &:hover, &:active, &:focus {
         color: lighten($color, 20%);
     }
}
/*
Ex:
a{
     @include linkColor(#3cf);
}
 */

/* Animations and keyframes */
@mixin keyframes($animation-name) {
  @-webkit-keyframes $animation-name {
    @content;
  }
  @-moz-keyframes $animation-name {
    @content;
  }
  @-ms-keyframes $animation-name {
    @content;
  }
  @-o-keyframes $animation-name {
    @content;
  }
  @keyframes $animation-name {
    @content;
  }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};
}
/*
Example :

@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/

/* Transitions */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}
/*
Ex:
a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
 */
/* Cross browser opacity */
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
/*
Usage :
.faded-text {
  @include opacity(0.8);
}
*/

/* Clearfix */
@mixin clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
// $font-size: 26px;
// $line-height: 1.4;
// $lines-to-show: 3;
@mixin ellipsis ($font-size: 20, $line-height: 1.4, $lines-to-show: 4){
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  // max-width: 360px;
  // height:$font-size*$line-height*$lines-to-show*1.1+px; /* Fallback for non-webkit */
  margin: 0 auto;
  @include font-size($font-size);
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin linktransition($what,$milliseconds,$effect){
 -webkit-transition: $what $milliseconds $effect; /* Firefox */
 -moz-transition: $what $milliseconds $effect; /* WebKit */
 -o-transition: $what $milliseconds $effect; /* Opera */
 transition: $what $milliseconds $effect; /* Standard */
}
/*
a {
  @include linktransition(border-bottom,0.1s,linear);
}

 */

@mixin centerMiddle(){
  display: table-cell;
  vertical-align: middle;
  clear: both;
}
/* Ex:
.container-with-floated-children {
  @extend clearfix;
}

*/
