/* =======================================================================
/* ####################### TYPOGRAPHY SASS FILE ##########################
======================================================================= */
// Typography
// Font-size
//
$base-font-size: 16px; // 16px
$base-line-height: $base-font-size * 1.5;
$font-size--152: $base-font-size * 9.5;
$font-size--91: $base-font-size * 5.7;
$font-size--34: $base-font-size * 2.1;
$font-size--25: $base-font-size * 1.55;
$font-size--22: $base-font-size * 1.35;
$font-size--15: $base-font-size * 0.95;
$font-size--12: $base-font-size * 0.75;
$font-size--11: $base-font-size * 0.7;
.font-level1,
.font-level2,
.font-level3,
.font-level4,
.font-level5,
.font-level6{
  font-family: 'montserrat_regular';
}
.font-level1{
  @include font-size(100);
  @include line-height(65);
}
.font-level2{
  @include font-size(48);
  @include line-height(60);
  /*color:green;
  transform: rotate(180deg);
  transition: width 1s linear .2s;*/
}
.font-level3{
  @include font-size(36);
  @include line-height(48);
}
.font-level4{
  @include font-size(26);
  @include line-height(36);
}
.font-level5{
  @include font-size(22);
  @include line-height(28);
}
.font-level6{
  @include font-size(16);
  @include line-height(26);
}
.font_regular{
    font-family: 'montserrat_regular';
}
.font_bold{
    font-family: 'montserrat_bold';
}
.font_hairline{
    font-family: 'montserrat_hairline';
}
.font_light{
    font-family: 'montserrat_light';
}
// Font face
@font-face {
    font-family: 'montserrat_bold';
    src: url('../css/fonts/Montserrat-Bold-webfont.eot');
    src: url('../css/fonts/Montserrat-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Montserrat-Bold-webfont.woff2') format('woff2'),
         url('../css/fonts/Montserrat-Bold-webfont.woff') format('woff'),
         url('../css/fonts/Montserrat-Bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'montserrat_hairline';
    src: url('../css/fonts/Montserrat-Hairline-webfont.eot');
    src: url('../css/fonts/Montserrat-Hairline-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Montserrat-Hairline-webfont.woff2') format('woff2'),
         url('../css/fonts/Montserrat-Hairline-webfont.woff') format('woff'),
         url('../css/fonts/Montserrat-Hairline-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_light';
    src: url('../css/fonts/Montserrat-Light-webfont.eot');
    src: url('../css/fonts/Montserrat-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Montserrat-Light-webfont.woff2') format('woff2'),
         url('../css/fonts/Montserrat-Light-webfont.woff') format('woff'),
         url('../css/fonts/Montserrat-Light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat_regular';
    src: url('../css/fonts/Montserrat-Regular-webfont.eot');
    src: url('../css/fonts/Montserrat-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../css/fonts/Montserrat-Regular-webfont.woff2') format('woff2'),
         url('../css/fonts/Montserrat-Regular-webfont.woff') format('woff'),
         url('../css/fonts/Montserrat-Regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
// Social media icons
@font-face {
  font-family: "social";
  src:url("../css/fonts/social.eot");
  src:url("../css/fonts/social.eot?#iefix") format("embedded-opentype"),
    url("../css/fonts/social.woff") format("woff"),
    url("../css/fonts/social.ttf") format("truetype"),
    url("../css/fonts/social.svg#social") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "social" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "social" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "a";
}
.icon-social-twitter:before {
  content: "b";
}
/*******************************************************/
/* General
/*******************************************************/

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; // Fix the character spacing for headings
  margin: 0;
  line-height: 1.25em;
  text-transform: uppercase;
  font-weight: normal;
}

h1 {
  font-size: $base-font-size * 2.25; // 16 * 2.25 = 36px
}

h2 {
  font-size: $base-font-size * 2; // 16 * 2 = 32px
}

h3 {
  font-size: $base-font-size * 1.75; // 16 * 1.75 = 28px
}

h4 {
  font-size: $base-font-size * 1.5; // 16 * 1.5 = 24px
}

h5 {
  font-size: $base-font-size * 1.25; // 16 * 1.25 = 20px
}

h6 {
  font-size: $base-font-size;
}

p {
  //margin: 0 0 ($base-line-height * .5);
}

a {
  //color: $base-link-color;
  text-decoration: none;
  @include transition(color 0.1s linear);

  &:hover {
    //color: $hover-link-color;
  }

  &:active, &:focus {
    //color: $hover-link-color;
    outline: none;
  }
}

hr {
  //border-bottom: 1px solid $base-border-color;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-line-height 0;
}

img {
  margin: 0;
  max-width: 100%;
}

abbr, acronym {
  //border-bottom: 1px dotted $base-border-color;
  cursor: help;
}

address {
  display: block;
  margin: 0 0 ($base-line-height / 2);
}

hgroup {
  margin-bottom: $base-line-height / 2;
}

del {
  color: lighten($base-font-color, 15);
}

blockquote {
  // border-left: 2px solid $base-border-color;
  // color: lighten($base-font-color, 15);
  // margin: $base-line-height 0;
  // padding-left: $base-line-height / 2;
}

cite {
  color: lighten($base-font-color, 25);
  font-style: italic;

  &:before {
    content: '\2014 \00A0';
  }
}
