/* =======================================================================
/* ########################## VARIABLES SASS  ##########################
======================================================================= */

// Textos:
$color--grey-main : #808080;// Montserrat light 18px
$color--brown     : #600000;
$color--grey-bold : #bfbfbf; // Titulo eventos en circulos // Monserrat bold 24px


// Normal text after heading section (lowercase)
// Backgrounds
$bg-color-brown : $color--brown;
$bg-color-white : #fff;
$bg-color-logo-circle:  #7d1416;

// Font Colors
$base-font-color:   $color--grey-main;

// -- links ----------------------------
$link-color: $color--grey-main;
$link-color-hover: darken($link-color, 10);
$link-color-visited: $link-color-hover;
$link-color-focus: darken($link-color-hover, 10);

// -- errors & info --------------------
$success-color: #5CB85C;
$info-color: #5BC0DE;
$warning-color: #F0AD4E;
$danger-color: #D9534F;

// -- button colors --------------------
$button-color: #ffffff;
$button-bg-color: $color--brown;


// -- Media Queries --------------------
// Mobile
$mobile-min:240px;
$mobile-max:767px;
// tablets
$tablet-min : 768px;
$tablet-max : 1280px;
// Medium laptops
$laptop-min:800px;
$laptop-max:1280px;
// Large
$desktop-large-minwidth:1281px;
$desktop-large-maxwidth:1920px;
// XtraLarge
$desktop-xtralarge-minwidth:1440px;

// Path for retina images
$image-path: '../images/optimized' !default;
$fallback-extension: 'png' !default;
$retina-suffix: '@2x';
$mediaPath : "../images/optimized/";
